<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
        {{ partial "head.html" . }}
        
		<style>
		.body-subpage {
		background-color: #fff;
		}
		</style>        
        
    </head>
	<body id="downloads" class="body-subpage">

		{{ partial "js.html" . }}

		{{ partial "nav.html" . }}
		<header class="subpage-header">
   			{{ partial "download-nav.html" . }}
		</header>
		
		<section>
		    <div class="container text-center">	
					<h2>Manjaro {{ .Params.name }}</h2>
					<hr class="star-primary" />
                    <a href="{{ .Site.BaseURL }}/img/editions/{{ .Params.screenshot }}" target="_blank"><img src="{{ .Site.BaseURL }}/img/editions/{{ .Params.thumbnail }}" class="img-responsive img-centered" alt=""></a>
					<br/>                    
                    <p>{{ .Params.shortdescription | markdownify }}</p>
                    <p>{{ .Content | markdownify }}</p>
                    
                    <h2>Download</h2>
                    <hr class="star-primary"/>
                    
                    <p>You can choose between a 64bit version for <strong>modern</strong> computers and a 32bit version for <strong>older</strong> computers.</p>
                    
                    <div class="container" style="width: 100%;">
                        <a href="{{ .Params.download_x64 }}" class="btn btn-primary btn-xl" style="float: left">Download 64bit version</a>
                        <div style="float: right">
                            {{ with .Params.download_x64_sig }} <a href="{{ . }}">Download GPG signature</a></br> {{end}}
                            SHA1-sum: {{ .Params.download_x64_checksum }}
                        </div>
                    </div><br/>
                    <div class="container" style="width: 100%;">
                        <a href="{{ .Params.download_x86 }}" class="btn btn-primary btn-xl" style="float: left">Download 32bit version</a>
                        <div style="float: right">
                            {{ with .Params.download_x86_sig }} <a href="{{ . }}">Download GPG signature</a></br> {{end}}
                            SHA1-sum: {{ .Params.download_x86_checksum }}
                        </div>
                    </div><br/>
                    
                    <p>You can also use <a href="https://en.wikipedia.org/wiki/BitTorrent" target="_blank">Torrents</a> to download Manjaro.
                    Just download the *.torrent file for the <a href="{{ .Params.download_x64_torrent }}">64 bit</a> or <a href="{{ .Params.download_x86_torrent }}">32 bit</a> 
                    version and open it with a torrent program like <a href="http://www.qbittorrent.org/" target="_blank">qBittorrent</a>.</p>
                    
                    
                    <h2>Be secure</h2>
                    <hr class="star-primary" />
                    <p>We encourage you to check if the download was not modified by some <strong>malicious person</strong> or by an error while downloading. As a simple check, you can generate the SHA1-sum of the downloaded file and 
                    compare it with the one we provide you here. <a href="https://wiki.manjaro.org/index.php?title=Check_a_Downloaded_ISO_Image_For_Errors">Here</a> you can find information how to generate such a sum and check your downloaded files.</p>
                    <p>To even further enhance the security, verify the downloaded file with a <strong>GPG (GNU Privacy Guard)</strong> signature that will ensure that the file was not modified and was actually
                    created by the Manjaro developers. <a href="http://www.howtogeek.com/246332/how-to-verify-a-downloaded-linux-iso-file-wasnt-tampered-with/" target="_blank">Here</a> you can find information how to use it.</p>
                    
                    <h2>Getting started</h2>
                    <hr class="star-primary">
                    <p>After downloading and checking the file, you can put it on a DVD or a USB drive. You will find step-by-step guides in the <a href="https://wiki.manjaro.org/index.php?title=Main_Page#Getting_Started" target="_blank">Manjaro Wiki</a>.</p>
			</div>
		</div>
		
	</body>

</html>
