<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
        {{ partial "head.html" . }}

		<style>
		.body-subpage {
		background-color: #fff;
		}
		</style>

    </head>
	<body id="downloads" class="body-subpage">

		{{ partial "nav.html" . }}
		<!-- <header class="subpage-header"> -->
   			{{ partial "download-nav.html" . }}
		<!-- </header> -->
			<section>
	    <div class="container text-center">
				<h2>Manjaro {{ .Params.name }}</h2>
				<hr class="star-primary" />
                <a href="{{ .Site.BaseURL }}/img/editions/{{ .Params.screenshot }}" target="_blank"><img src="{{ .Site.BaseURL }}/img/editions/{{ .Params.thumbnail }}" class="img-responsive img-centered" alt=""></a>
				<br/>
                <p>{{ .Params.shortdescription | markdownify }}</p>
                <p>{{ .Content | markdownify }}</p>

								<h2>Download</h2>
								<hr class="star-primary"/>

								{{ range (where .Site.Pages ".Type" "download-additional-info-pre")}}
									<p>{{ .Content | replaceRE ";torrent-x64;" $.Params.download_x64_torrent | replaceRE ";torrent-x86;" $.Params.download_x86_torrent | replaceRE ";baseurl;" .Site.BaseURL | markdownify }}
								{{ end }}

								<div class="container" style="width: 100%;">
								    <a href="{{ .Params.download_x64 }}" class="btn btn-primary btn-xl" style="float: left" target="_blank">Download 64bit version</a>
								    <div style="float: right">
								        {{ with .Params.download_x64_sig }} <a href="{{ . }}" target="_blank">Download GPG signature</a></br> {{end}}
								        SHA1-sum: {{ .Params.download_x64_checksum }}
								    </div>
								</div><br/>
								<div class="container" style="width: 100%;">
								    <a href="{{ .Params.download_x86 }}" class="btn btn-primary btn-xl" style="float: left" target="_blank">Download 32bit version</a>
								    <div style="float: right">
								        {{ with .Params.download_x86_sig }} <a href="{{ . }}" target="_blank">Download GPG signature</a></br> {{end}}
								        SHA1-sum: {{ .Params.download_x86_checksum }}
								    </div>
								</div><br/>

								{{ range (where .Site.Pages ".Type" "download-additional-info-post")}}
									<p>{{ .Content | replaceRE ";torrent-x64;" $.Params.download_x64_torrent | replaceRE ";torrent-x86;" $.Params.download_x86_torrent | replaceRE ";baseurl;" .Site.BaseURL | markdownify }}
								{{ end }}
		</div>
		</section>

        {{ partial "js.html" . }}

	</body>

</html>
