<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
    
    	
    
        {{ partial "nav.html" . }}
		
        {{ partial "hero.html" . }}
        {{ partial "about.html" . }}
        {{ partial "features.html" . }}
        {{ partial "usercases.html" . }}
        
        {{ partial "home_downloads.html" . }}
        
        

        {{ partial "usercases-modals.html" . }}
        
        

        {{ partial "js.html" . }}
    </body>
</html>
