<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
        {{ partial "head.html" . }}
        
		<style>
		.body-subpage {
		background-color: #fff;
		}
		</style>        
        
    </head>
	<body id="features" class="body-subpage">

		{{ partial "nav.html" . }}		
		<header class="subpage-header">
   			{{ partial "features-nav.html" . }}
		</header>
		
		<section class="bg-primary" id="about">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-8 col-lg-offset-2 text-center">
		                <h2 class="section-heading">{{ .Title }}</h2>
		                <hr class="light">
		                <p class="text-faded">{{ .Content }}</p>
		              
		                <br /><p><img id="about-image" src="{{ .Site.BaseURL }}/img/laptop-4.png" /></p>
		            </div>
		        </div>
		    </div>
		</section>

		{{ partial "quickfeatures.html" . }}
		
		{{ partial "js.html" . }}
	</body>

</html>
