{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.about.headline }}{{ . }}{{ end }}</h2>
                <hr class="light">
                <p class="text-faded">{{ with .Site.Params.about.description }}{{ . | markdownify }}{{ end }}</p>
                <!-- Do we really need another link away from the site?
                <a href="https://wiki.manjaro.org/index.php?title=Using_Manjaro_for_Beginners" class="btn btn-default btn-xl">{{ with .Site.Params.about.buttonText }}{{ . }}{{ end }}</a>-->
                <br /><p><img id="about-image" src="img/laptop.png" /></p>
            </div>
        </div>
    </div>
</section>
