{{ "<!-- CONTACT -->" | safeHTML }}
<section id="donate">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.donate.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
                <p>{{ with .Site.Params.donate.description }}{{ . | markdownify }}{{ end }}</p>
                <p style="font-weight: 100;" >{{ with .Site.Params.donate.conditions }}{{ . | markdownify }}{{ end }}</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
            	<!-- This is the original from the old website; but it's not that pleasing and tracks users (the tracking pixel + the button image)! -->
                <!--<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick"><br />
					<input type="hidden" name="hosted_button_id" value="P5T6ZGPVJD9JN"><br />
					<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!"><br />
					<img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1"><br />
				</form>-->
				<img src="{{ .Site.BaseURL }}img/donation/paypal.svg" class="wow bounceIn"/>
				
				<form id="donation_paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="P5T6ZGPVJD9JN">
					<a href="#" onclick="donation_paypal.submit();" style="margin-bottom: 20px;font-size: 16px;line-height: 1.5;">Use Paypal</a>
				</form>	
				
            </div>
            <div class="col-lg-4 text-center">
                <img src="{{ .Site.BaseURL }}img/donation/manually.svg" class="wow bounceIn"/>
                <p><a href="#donation-manually-modal" data-toggle="modal" >Account data for donations</a></p>
            </div>
        </div>
    </div>
</section>
