{{ "<!-- ASIDE -->" | safeHTML }}

<aside class="bg-dark" id="downloads" style="transition: height .5s;">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>{{ with .Site.Params.aside.headline }}{{ . }}{{ end }}</h2>
            <p>{{ with .Site.Params.aside.description }}{{ . }}{{ end }}</p>
          
			{{ partial "howtotry.html" . }}
			
			 <a href="{{ .Site.BaseURL }}/download" class="btn btn-primary btn-xl wow tada" data-toggle="modal">Download Manjaro now</a>
			
        </div>
    </div>
</section>

</aside>
